POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
	##OEROOT##/meta \
	##OEROOT##/meta-poky \
	##OEROOT##/meta-yocto-bsp \
	##OEROOT##/meta-rockchip \
	##OEROOT##/meta-arm/meta-arm \
	##OEROOT##/meta-arm/meta-arm-bsp \
	##OEROOT##/meta-arm/meta-arm-toolchain \
	##OEROOT##/meta-python2 \
	##OEROOT##/meta-openembedded/meta-oe \
	##OEROOT##/meta-asus-tinkerboard-mitchdz \
	"
